.header {
    display: flex;
    background-color: rgb(50, 167, 145);
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.trybewarts-login {
    display: flex;
    align-items: center;
    order:2
}

#trybewarts-header-title {
    order: 1;
}

#evaluation-form {
    display: flex;
    width: 675px;
    flex-direction: column;
}

main {
    display: flex;
}

#trybewarts-forms-logo {
    height: 500px;
}

#junta {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 15px;
}

#house {
    width: 184px;
}

#casaEemail {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 20px;
}

#radios {
    display: flex;
    flex-direction: column;
}